/*Styles.css*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: powderblue;
}

.menu li{
    display: inline-block;

}
.menu li a{
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

section#About-me{
    padding: 100px 0;
}



